.findbutton {
    background: linear-gradient(90deg, #FF7E4B 0%, #FF518C 50%, #66319B 100%);
    border-radius: 6px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.75px;
    border: none;
    position: relative;
    overflow: hidden;
    transition: all 1s ease-in;
}

.findbutton::before {
    content: '';
    position: absolute;
    top: 0;

    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    border: 3px solid transparent;
    border-image: linear-gradient(90deg, #FF7E4B 0%, #FF518C 50%, #66319B 100%);
    border-image-slice: 1;
    pointer-events: none;
}

.findbutton:hover {
    border-image: linear-gradient(90deg, #FF7E4B 0%, #FF518C 50%, #66319B 100%);
    border-image-slice: 1;
    background: transparent;
}