.footer {
  padding-bottom: 100px;
}

.footerlogo {
  width: 250px;
  cursor: pointer;
}

.input-group input {
  outline: none;
  border: none;
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.05) inset;
  color: rgba(249, 251, 251, 1);
  border-radius: 10px;
  padding: 12px 16px;
  color: rgba(52, 67, 70, 1);
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: left;
  width: 37% !important;

}

.footerbtn {
  position: relative;
  padding: 12px 16px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #5E309C 0%, #66319B 6%, #7E3698 16%, #A43E94 28%, #D9498F 42%, #FF518C 51%, #FF7E4B 100%);
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: left;
  color: rgba(252, 254, 253, 1);
  letter-spacing: 0.02em;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  animation-duration: 1s;
}

.footerbtn:hover {
  cursor: pointer;
  animation-name: subtle-bounce;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

/* Keyframes for subtle bounce */
@keyframes subtle-bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2px);
    /* Slight bounce */
  }
}


.footerbtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 3px solid transparent;
  border-image: linear-gradient(90deg, #5E309C 0%, #66319B 6%, #7E3698 16%, #A43E94 28%, #D9498F 42%, #FF518C 51%, #FF7E4B 100%);
  border-image-slice: 1;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}


.footer .footer-h1-text {
  font-size: 29px;
  font-weight: 400;
  line-height: 43.5px;
}

.boxlayers {
  background: url(/src/assets/boxes.png);
  background-position: top;
  background-size: auto;
  background-position-x: 743px;
  background-repeat: no-repeat;
}

@media (max-width : 500px) {
  .input-group input {
    padding: 9px 11px;
    width: 64% !important;
  }

  .footerlogo {
    width: 200px;
  }

  .footerbtn {
    padding: 9px 11px;
  }

  .footer {
    padding-bottom: 30px;
  }
}

@media (min-width : 768px) and (max-width : 991px) {
  .input-group input {
    width: 64% !important;
  }

  .boxlayers {
    background-position: top center;
  }

  .footer {
    padding-bottom: 30px;
  }

  .boxlayers {
    background-position-x: 492px;
  }
}

@media (min-width : 992px) and (max-width : 1200px) {

  .boxlayers {
    background-position-x: 492px;
  }
}