.navbar {
  padding: 0px 40px;
}

.icons_section {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  padding: 0px 80px;
}

.logo {
  width: 300px;
}

.btn-close {
  background-image: url(/src/assets/close.png) !important;
  --bs-btn-close-opacity: none !important;
  --bs-btn-close-hover-opacity: none !important;
  --bs-btn-close-focus-shadow: none !important;
  --bs-btn-close-focus-opacity: none !important;
  --bs-btn-close-disabled-opacity: none !important;
}

.navbar-toggler {
  padding: 3px 10px !important;
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  /* color: var(--bs-navbar-color); */
  background-color: #fff !important;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

.nav-link {
  color: #fff !important;
  transition: all 0.5s ease-in-out;
}

.nav-link:hover {
  background: linear-gradient(90deg, #66319b 0%, #ff518c 50%, #ff7e4b 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media (max-width: 500px) {
  .logo {
    width: 200px;
  }

  .navbar {
    padding: 0px 10px;
  }

  .icons_section {
    padding: 0px 10px;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .logo {
    width: 250px;
  }

  .navbar {
    padding: 0px 20px;
  }

  .icons_section {
    padding: 0px 20px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .logo {
    width: 300px;
  }

  .navbar {
    padding: 0px 30px;
  }

  .icons_section {
    padding: 0px 30px;
  }
}

.link-hover-text {
  position: relative;
  background: linear-gradient(to left, transparent 50%, white 50%);
  background-size: 500% 100%;
  background-position: 0;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.5s ease-in-out !important;
}

@media (max-width: 992px) {
}
.offcanvas {
  transition: transform 0.4s ease-in-out !important;
}
.offcanvas.show {
  animation: slideIn 0.4s forwards;
}

.offcanvas.hiding {
  animation: slideOut 0.4s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* Backdrop transition */
.offcanvas-backdrop {
  transition: opacity 0.4s ease-in-out !important;
}

.offcanvas-backdrop.show {
  opacity: 0.5;
}

