/* for sec3 css */
.videohide {
  display: none;
}

.sec3video-img {
  width: 100%;
  height: 550px;
  border-radius: 30px;
  display: block;
}

.sec3videobox {
  background-color: #14233a;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  border-radius: 30px;
  position: relative;
}

.secvideoplaybtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.sec3playbtn {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all 0.6s ease;
  width: 100px;
  height: 100px;
}

.sec3playbtn img {
  position: absolute;
  width: 100px;
  height: 100px;
  transition: opacity 0.6s ease-in-out;
}

.sec3playbtn .sec3play {
  opacity: 0;
}

.sec3playbtn:hover .playbtn {
  display: none;
}

.sec3playbtn:hover .sec3play {
  opacity: 1;
}

.show {
  display: block !important;
}

/* for mobile screen media query */
@media (max-width: 500px) {
  .secvideoplaybtn img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  .sec3videobox {
    width: 1000px;
    height: 30%;
    object-fit: cover;
  }

  .sec3video-img {
    width: 100%;
    height: 100%;
  }
}
